/*Universal*/
html{
    font-size: 16px;
}

.grid{
    display: grid;
    grid-template: repeat(6, 300px)/repeat(6, 300px);
}

body{
    height: auto;
}

/* Header Section*/
nav img{
    height: 5rem;
    width: 5rem;
}

header{
    display: grid;
    grid-area: 1/1/span 2/span 6;
}

/* Purpose */


/* Current Book  */

/* Upcoming Books  */

/* Footer */